* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;  
    margin: 12px 8px;  
}
.top {
    background-color: gray;
    position: sticky;
    top: 0;
    padding: 2px;
}

.search-option {
    display: flex;
    justify-content: space-evenly;
    margin: 24px 68px;
}
.search-box {
    width: max-content;
    height: 40px;
    padding-left: 12px;
    font-size: 14px;
    border: 2px solid gray;
    border-radius: 6px;    
    
}
button {
    width:60px;;
    height: 40px;
    border: 2px solid gray;
    border-radius: 6px;
}
.filter-by {
    width: max-content;
    font-size: 14px;
    border: 2px solid gray;
    border-radius: 6px;
    gap: 50%;
}
.search-info {
    font-size: 24px; 
    color: red; 
    text-align: center;
    
}
.countries-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;   
    flex-wrap: wrap;
    margin: 24px 0;
}
.country-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 12px 0;
    text-align: justify;
}
.loading {
    font-size: 24px;
    color: red;
}

.view-region {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

img {    
    width: 300px;
    height: 200px;    
    object-fit: cover;
    margin-bottom: 8px;
}
.country-name {
    
    font-weight: bolder;
    margin-bottom: 8px;
}

p {
    margin: 6px 0;
}
.back-btn {
    width: 160px;
    font-size: 24px;
}
.back-btn:hover {
    background-color: cadetblue;
    cursor: pointer;
}
.error-message {
    font-size: 24px;
    color: red;
    text-align: center;
    margin-top: 12px;
}


.info-details {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 12px;   
    
}
.info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px ;
    gap: 12px;
    font-size: 18px;    
}

.back {
    width: 120px;
    font-size: large;
    align-self: center;
}

footer {
    width: 100vw;
    height: 24px;
    background-color: gray;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
   
}